<!DOCTYPE html>
<html lang="en">
<head>
    <base href="{global.baseUrl}" />
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta http-equiv="content-language" content="en-us">
    <!-- Meta tags -->
    <title>{head.title} | {global.appName}</title>
    <meta name="description" content="{head.description}">
    <!-- Static Asssets -->
    <link type="image/x-icon" rel="icon" href="favicon.ico">
    <script type="text/javascript" charset="utf-8" src="public/app.js"></script>
    <link rel="stylesheet" type="text/css" href="public/app.css" />
</head>
<body class="{body.class}"> <!-- Page specific CSS style -->
<!--Page wrapper -->
    <div class="wrapper">
    <!-- Header -->
    <div class="header">
        <a class="logo" href="/"><img src="public/logo.png" alt="Company Logo" /></a>
        <ul class="menu">
            <li>
                <a href="/">Home</a>
            </li>
            <li class="loggedOut">
                <a href="/account/create">Sign Up</a>
            </li>
            <li class="loggedOut">
                <a href="/session/create">Log in</a>
            </li>
            <li class="loggedIn">
                <a href="/checks/all">Dashboard</a>
            </li>
            <li class="loggedIn">
                <a href="/account/edit">Account Settings</a>
            </li>
            <li class="loggedIn">
                <a href="#" id="logoutButton">Log out</a>
            </li>
        </ul>
    </div>
    <!-- Page specific content -->
    <div class="content">