<h1>Uptime Monitoring</h1>
<h2>Made Simple</h2>

<div class="blurb">
    We offer free, simple uptime monitoring for HTTP/HTTPS sites.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Facere repellendus itaque eligendi? Omnis, repellat aperiam, soluta suscipit nam reiciendis iste tempore voluptatibus consequuntur eveniet, rerum eaque sequi autem dolor culpa.

    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Unde quasi tenetur blanditiis, quaerat totam minima, natus quisquam quod libero debitis mollitia! Accusantium nostrum sint harum illo, qui aperiam doloribus soluta?
</div>

<div class="ctaWrapper">
    <a class="cta green" href="account/create">Get Started</a>
    <a class="cta blue" href="session/create">Login</a>
</div>